<% if session[:current_user_id].present? %>
  <div class="float-end position-absolute" style="right: 1%; top:1%">
    <%= button_to "Log out", logout_path, class: "btn btn-outline-danger" %>
  </div>
<% end %>